.background {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(60, 66, 77, 0.4);
	display: grid;
	place-content: center;
	padding: 0 1rem;
}

.modal {
	background-color: #fff;
	box-shadow: 0 4px 30px rgb(0, 0, 0, 0.05);
	padding: 4rem 1rem 1rem 1rem;
	border-radius: 1rem;
	position: relative;
}

.modalClose {
	width: 2rem;
	height: 2rem;
	background-color: rgb(240 243 247);
	display: grid;
	place-content: center;
	border-radius: 0.5rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}
