.header {
  padding: 12px var(--layout-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(240 243 247);
}

.headerLink {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  align-items: center;
}

.headerTitle {
  color: var(--gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerButton {
  background-color: var(--gray);
  color: #fff;
}

@media (max-width: 768px) {
  .headerTitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 360px) {
  .headerTitle {
    display: none;
  }
}
